@charset "utf-8";

/*index.html 페이지용 스타일*/



#listbox{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    
}

.list{
    position: relative;
}

.box > img{
    width: 100%;
    display: block;
}

.box{
    position: relative;
}

.caption{
    position: absolute;
    top: 2rem;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
    background: rgba(#255, #225, #255, 0.7);
    backdrop-filter: blur(3px);

}

.caption > h3{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.more{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.caption > div > .button{
    background: #ff7c00;
    color: #fff;
    border: none;
    padding: 0.5rem;
    border-radius: 3px;
}

.caption{
    opacity: 0;
    transition: 0.3s;
}

.box:hover > .caption{
    opacity: 1;
}

@media screen and (max-width:450px) {
    #listbox{
        grid-template-columns: 1fr;
    }    
}